@{
    ViewBag.Title = "About WonderWheels";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table>
    <tr>
        <th>Role</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>Scrum Master:</td>
        <td>Casey Gregory</td>
    </tr>
    <tr>
        <td>Product Owner:</td>
        <td>Hunter White</td>
    </tr>
    <tr>
        <td>Developer:</td>
        <td>Garrett Landon</td>
    </tr>
    <tr>
        <td>Developer:</td>
        <td>Justin Cathelyn</td>
    </tr>
    <tr>
        <td>Developer:</td>
        <td>Tech Thomas Burtner</td>
    </tr>
</table>

<p><br>API: https://github.com/garrett-t/BikeShop-FrontEnd</p>
<p>FrontEnd: https://github.com/cathelynj/SE-II-BikeShop</p>
