@{
    ViewBag.Title = "About WonderWheels";
}
<h2>@ViewBag.Title</h2>

<body style="background-color: blanchedalmond">
    <table cellpadding="10">
        <tr>
            <th>Role</th>
            <th>Name</th>
        </tr>
        <tr>
            <td><b>Scrum Master: </b></td>
            <td>Casey Gregory</td>
        </tr>
        <tr>
            <td><b>Product Owner: </b></td>
            <td>Hunter White</td>
        </tr>
        <tr>
            <td><b>Developer: </b></td>
            <td>Garrett Landon</td>
        </tr>
        <tr>
            <td><b>Developer: </b></td>
            <td>Justin Cathelyn</td>
        </tr>
        <tr>
            <td><b>Developer: </b></td>
            <td>Thomas Burtner</td>
        </tr>
    </table>

    <p><br>Front End: https://github.com/garrett-t/BikeShop-FrontEnd</p>
    <p>API: https://github.com/cathelynj/SE-II-BikeShop</p>
</body>