
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Construction</h2>

<body style="background-color: blanchedalmond; color:black">
    @using (Html.BeginForm("NewBicyclePurchase", "Home"))
    {
        <table class="table">
            <tr>
                <th>Construction Type</th>
                <th></th>
            </tr>
            <tr>
                <td>Welded</td>
                <td><input type="radio" name="constructionType" value="Welded" /></td>
            </tr>
            <tr>
                <td>Bonded</td>
                <td><input type="radio" name="constructionType" value="Bonded" /></td>
            </tr>
            <tr>
                <td>TIG Welded</td>
                <td><input type="radio" name="constructionType" value="TIG Welded" /></td>
            </tr>
        </table>
        <input type="hidden" name="bikeModel" value="@ViewBag.bikeModel" />
        <input type="hidden" name="paintType" value="@ViewBag.paintType" />
        <input type="submit" value="Submit" />
    }
</body>