@{
    ViewBag.Title = "Wonderwheels Contact Information";
}
<h2>@ViewBag.Title</h2>

<body style="background-color: blanchedalmond; color:black">
    <address>
        <strong>Garrett:</strong> <a href="mailto:landong@etsu.edu">landong@etsu.edu</a><br />
        <strong>Casey:</strong> <a href="mailto:gregoryca1@etsu.edu">gregoryca1@etsu.edu</a><br />
        <strong>Hunter:</strong> <a href="mailto:whitehh@etsu.edu">whitehh@etsu.edu</a><br />
        <strong>Justin:</strong> <a href="mailto:cathelynj@etsu.edu">cathelyn@etsu.edu</a><br />
        <strong>Thomas:</strong> <a href="mailto:burtner@etsu.edu">burtner@etsu.edu</a>
    </address>
</body>