@model IEnumerable<BikeShop_FrontEnd.Models.PaintModel>

@{
    ViewBag.Title = "Paint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paint</h2>

<body style="background-color: blanchedalmond; color:black">
    @using (Html.BeginForm("Construction", "Home", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <th>Paint Color</th>
                <th>Style</th>
                <th>Color List</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                var i = Html.DisplayFor(modelItem => item.COLORNAME);
                <tr>

                    <td><b>@Html.DisplayFor(modelItem => item.COLORNAME)</b></td>
                    <td>@Html.DisplayFor(modelItem => item.COLORSTYLE)</td>
                    <td>@Html.DisplayFor(modelItem => item.COLORLIST)</td>
                    <td><input type="radio" name="paintType" value=@Html.DisplayFor(modelItem => item.PAINTID)></td>

                </tr>
            }
        </table>
        <input type="hidden" name="bikeModel" value="@ViewBag.Bike" />
        <input type="submit" value="Submit">
    }
</body>